@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    
    
}
    

h1,h2,h3,h4,h5,h6 {
  font-family: 'Sriracha', cursive;
  font-size: 1em;
  margin: 0;
}

#headerid3 {
  display: block;
  
}

p,li {
  font-family: 'Russo One', sans-serif;
}



.Top {
color: #cabe4d;
display: block;
float: left;
border: #000000;
clear: both;

}



#thumb {
  display: inline;
 
  
}


/* Photo by Taylor Leopold on Unsplash/ */
#header {
background: url('img/header_bg.jpg');
background-attachment: fixed;
background-size: contain;


}




/* https://webdevtrick.com/html-css-navigation-bar/ */
#menu-nav {
 z-index: 1;
overflow: hidden;
position: sticky;
  width: 100%;
  margin: 0;
  top: 0;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}

#navigation-bar li {
  float: left;
  width: 20%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  padding: 0px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #c29f2e;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: #c29f2e;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 
#About {
  z-index: -1;
background-color: darkblue;
color: yellow;

}

  
#AfewQs {
    background-color: yellow;
    color: darkblue;
}

#mailme {
  background-color: darkblue;
  color: yellow;
}

#submit {
  background-color: darkblue;
  color: yellow;
}

#contact_info {
  background-color: yellow;
  color: darkblue;
}



